<html >
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>


</header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">

        Application
    </a>
</nav>
</header>
<br/>
<br/><br/>


<br/><br/>

<h1 align="center"> Welcome to Backup Application </h1>
<button style="margin-left: 400px;margin-top: 200px" align="center" width="50%" type="button" formaction="">
    <a class="nav-link" align="center" style="color:black;" href="show.html">Create Backup </a>
</button>
<button align="center" width="50%" type="button" formaction="" style="margin-left: 200px;">
    <a class="nav-link" style="color:black;" href="search.html">Search Backup </a>
</button>
<button align="center" width="50%" type="button" formaction="" style="margin-left: 200px;">
    <a class="nav-link" style="color:black;" href="delete.html">Purge Backup </a>
</button>

<div>
    <h3 align="right" style="margin-top: 250px;">Presented by : Bansri Shah</h3>
</div>


</main>
</body>

</html>